

.header-navigation{
 display: flex;
    align-items: center;
   
}



.header-navigation__item{
    display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap:46px;
}


.header-navigation__logo-logo1{
    color:var(--brand-color-czcionka2);
}


.header-navigation__logo-logo2{
    color:var(--brand-color-czcionka4);
}


.header-navigation__logo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    Line-height: 100%;
    letter-spacing: 0.03em;
     margin-right: 93px ;
     transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__item-card2{
    color:var(--brand-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 
}
.header-navigation__item-card1{
    color:var(--brand-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.02em;
        transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

          }

          .header-navigation__item-card3{
    color:var(--brand-color);
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.02em;
        transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

          }


.header-navigation__item-card1,
.header-navigation__item-card3{
position: relative;
}
    .header-navigation__item-card1::after{
        content:"";
        position:absolute;
        width:100%;
        height:4px;
        background-color: var(--brand-color-background4);
        bottom:-33px;
        left: 0px;
       
    }
       .header-navigation__item-card3::after{
        content:"";
        position:absolute;
        width:100%;
        height:4px;
        background-color: var(--brand-color-background4);
        bottom:-33px;
        left: 0px;
       }

    .header-navigation__item-card1:hover::after{
        color:var(--brand-color-background4);
    }

    .header-navigation__item-card3:hover::after{
        color:var(--brand-color-background4);
    }

    
.header-navigation__logo:hover,
.header-navigation__item-card1:hover,
.header-navigation__item-card2:hover,
.header-navigation__item-card3:hover{

    color:var(--brand-color3);

}


.header-navigation__logo,
.header-navigation__item-card1,
.header-navigation__item-card2,
.header-navigation__item-card3{
 text-decoration: none;
}
