.d-none {
  display: none;
}


.menu-container__overlay {
  position: fixed;
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  padding: 48px 40px;
  transition: transform var(--time-hov-fok--) var(--cubic-bezier--),
    visibility var(--time-hov-fok--) var(--cubic-bezier--),
    opacity var(--time-hov-fok--) var(--cubic-bezier--);
    cursor:pointer;
}


.menu-container__overlay.is-open{
  transform: translate(0);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-container__button {
  background: none;
  border: none;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
.menu-container__overlay{
  display: none;
}
}

@media screen and (min-width: 1200px) {
  .menu-container__overlay {
    display: none;
  }
  }


@media screen and (min-width: 768px) {
.menu-container__icon{
  visibility:hidden
}
}


.menu-container__icon:hover,
.menu-container__icon:focus {
  fill: #2196F3;
}
