
 .section-footer__social-list{
         display: flex;
flex-direction: row;
list-style: none;
flex-grow: 1;
gap:10px;


 }
 .section-footer__form-label{
     display: flex;
flex-direction:row;
list-style: none;
flex-grow: 1;
gap:10px;
padding-left: 78px;
padding-top: 72px;
    font-family: Roboto;
font-Weight:700;
font-size: 14px;   
line-height:16.41px;
 }

 .section-footer__form-mail{
     display: flex;
flex-direction:row;
list-style: none;
flex-grow: 1;
gap:10px;
padding-top: 20px;;
padding-left: 78px;
padding-bottom: 32px;
 }

 
.section-footer__button{
border: 1px solid rgba(255, 255, 255, 0.3);
background-color:var(--brand-color-background4);
border-radius: 4px;
font-family: Roboto;
color:var(--brand-color-czcionka3);
font-Weight:700;
font-Size:16px;
Line-height:30px;
cursor: pointer;
display: flex;
align-items: center;
   padding-left: 42px;
    padding-top: 8px;
    padding-bottom: 8px;
     border: 0px;
}




.section-footer__icon{
    fill:var(--brand-color-czcionka3);
    margin-left: 24px;
    margin-right: 28px;
    display: flexbox;
   align-items: center;
  
}


    .section-footer__social-icon{
        justify-content:flex-start;
      margin: 0.0rem;
 padding: 0.6rem;
Fill: #AFB1B8;
background: radial-gradient(circle,rgba(255, 255, 255, 0.1)70% 70%, var(--brand-color-background)70%);
transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  

    }

.section-footer__social-icon:hover{
   background: radial-gradient(circle, #2196f3 70%, var(--brand-color-background)70%);
   fill:white;

  }

  
.section-footer__contact-logo1{
    color:var(--brand-color-czcionka2);
}

    .section-footer__contact-logo2{
        color:var(--brand-color-czcionka3)
    }






.section-footer__contact-logo{
    display:block;
    padding-bottom: 20px;
    color: var(--brand-color-czcionka2);
    font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.03em;
        transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

        .section-footer__address-linker{
    color: rgba(255, 255, 255, 0.6);;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        font-style:normal;
        transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        }

.section-footer__address{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        font-style: normal;
        color:var(--brand-color-czcionka3)
}

.section-footer__social-header{
    display: block;
    padding-bottom: 20px;
    font-family: Roboto;
font-Weight:700;
font-size: 14px;   
line-height:16.41px;
}


.section-footer__contact{
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-footer{
    display:flex;
    
}

.section-footer__social{
    padding-top: 72px;
    margin-left: 70px;
}

.section-footer__contact-logo:hover,
.section-footer__address-linker:hover


{
  color:var(--brand-color-czcionka2);
 
}
.section-footer__contact-logo:focus,
.section-footer__address-linker:focus
{

    color:var(--brand-color3);

}


.section-footer__contact-logo,
.section-footer__address-linker{
 text-decoration: none;
}
