.section-team__socialicons-icon {
  margin: 0rem;
  padding: 0.6rem;
  fill: #afb1b8;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__socialicons-icon:hover {
  background: radial-gradient(circle, #2196f3 70%, #ffffff 70%);
  fill: white;
  transition-property: fill;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.section-team__header {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  padding-top: 94px;
}

.section-team__description {
  color: var(--brand-color-czcionka1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.section-team__list {
    display: block;
    gap: 30px;
    list-style: none;
    background-color: #f5f4fa;
    padding-bottom: 0px;
}

.section-team {
  background-color: var(--brand-color-background2);
}

.section-team__picture {
  display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin-top: 30px;
}

  .section-team__socialicons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 122px;
    padding-right: 122px;
}

@media screen and (min-width: 768px) {
  .section-team__list {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5f4fa;
    gap: 30;
  }
  .section-team__socialicons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 74px;
    padding-right: 74px;
  }

  .section-team__picture {
   flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .section-team__list {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f5f4fa;
  }

  .section-team__picture {
flex-basis: calc((100% - 90px) / 4);
  }
  .section-team__socialicons-icon {
    margin: 0rem;
    padding: 0.6rem;
    fill: #afb1b8;
    transition-property: fill;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.section-team__socialicons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

}
}