
.section-description{
    padding-bottom: 94px;
}


.section-description__list__icon{
    fill: var(--brand-color-czcionka1);
    background: var(--brand-color-background2);
    padding: 25px 0;
}

.section-description__list__text-title{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
}


.section-description__list__text-details{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color-czcionka1);
}

.section-description__list{
     display: flex;
flex-direction: row;
list-style: none;
flex-grow: 1;
gap:calc((100% - 3 * 30%) / 4);
}


.section-description__list__icon{
    fill: var(--brand-color-czcionka1);
    background: var(--brand-color-background2);
    padding: 25px 0;
}


.section-description__header{
    visibility:hidden;
}
