


.section-description{
    padding-bottom: 60px;
}

.section-description_list-element{
    background-color: #f5f4fa;
  height: 120px;
  width: 100%;
  display:flex;
  justify-content: center;

}

.section-description__list-icon{
    fill: var(--brand-color-czcionka1);
    background: var(--brand-color-background2);
    margin-top: 25px;



  

}

.section-description__list-title{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
        padding-top: 30px;
        max-width: 100%;
        display: flex;
        justify-content: center;
      
}


.section-description__list-details{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color-czcionka1);
        max-width: 450px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
}

.section-description__list{
  margin-top: 0px;
  padding: 0;
  list-style: none;
  display: block;

}

.section-description__header{
    visibility:hidden;
}
.section-description__list-icons{
   flex-basis: calc(100% / 2 - 30px);
}

   
@media screen and (min-width: 768px) {

  .section-description{
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
.section-description__list-details{
  height: 120px;
}

.section-description__list{
        display: flex;
        flex-direction: row;
        align-items: center;
     flex-wrap: wrap;  
list-style:none;
text-align: left;
width: 100%;
gap:30px;
          
    
  }

  .section-description__list-icons{
    width:100%;
    flex-basis: calc(100% / 2 - 30px);
  
  }
  .section-description__list-details{

  justify-content: left;
  width: 354px;
  margin-left: 15px;


}

.section-description__list-title{
 max-width: 100%;
  justify-content: left;

}
}

@media screen and (min-width: 1200px) {
    .section-description__list{
     display: flex;
     flex-wrap: nowrap;
flex-direction: row;
list-style: none;
text-align: left;



}
.section-description__list-icon{
margin-left: 15px;

}

.section-description__list-details{
  max-width: 270px;
  justify-content: left;
  margin-left: 15px;

}

.section-description__list-title{
  max-width: 270px;
  justify-content: left;
  margin-left: 15px;

}
.section-description{
      display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}
.section-description__list-details{
     height: 120px;
    width: 270px;
}
}
