
.section-description{
    padding-bottom: 60px;
}


.section-description__list-icon{
    fill: var(--brand-color-czcionka1);
    background: var(--brand-color-background2);
    padding: 25px 0;
}

.section-description__list-title{
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        padding-bottom: 10px;
}


.section-description__list-details{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color-czcionka1);
}

.section-description__list{
     display:flex;
flex-direction: column;
list-style:none;
flex-grow:1;
}


.section-description__list-icon{
    fill: var(--brand-color-czcionka1);
    background: var(--brand-color-background2);
    padding: 25px 0;
}


.section-description__header{
    visibility:hidden;
}
   
@media screen and (min-width: 768px) {
.section-description__list{
     display:flex;
flex-direction: row;
list-style:none;
gap:calc((100% - 1 * 30%) / 2);
  }
}


@media screen and (min-width: 1200px) {
    .section-description__list{
     display: flex;
flex-direction: row;
list-style: none;
gap:calc((100% - 3 * 30%) / 4);
}
}
