
 #email{
width:358px;
Height:50px;
border: 1px solid rgba(255, 255, 255, 0.3);
background-color:var(--brand-color-background);
border-radius: 4px;
font-family: Roboto;
font-Weight:400;
font-Size:16px;
line-height:20px;
padding-left:16px;
color:rgba(255, 255, 255, 0.6);
 }