:root{
    --brand-color:#212121;
    --brand-color-czcionka1:#757575;
    --brand-color-czcionka2:#2196F3;
    --brand-color-czcionka3:#FFFFFF;
    --brand-color-czcionka4:#000000; 
    --brand-color-background:#2F303A;
    --brand-color-background2:#F5F4FA;
    --brand-color-background3:#ECECEC;
    --brand-color-background4: #2196F3;
}