:root {
  --brand-color: #212121;
  --brand-color-czcionka1: #757575;
  --brand-color-czcionka2: #2196f3;
  --brand-color-czcionka3: #ffffff;
  --brand-color-czcionka4: #000000;
  --brand-color-background: #2f303a;
  --brand-color-background2: #f5f4fa;
  --brand-color-background3: #ececec;
  --brand-color-background4: #2196f3;
}
